#body {
    background-color: gray;
}
#ac {
    background-color: red;
}
#name {
    text-align: center; 
    font: bolder; 
    font-family: Verdana, sans-serif; 
    font-size: 50px; 
    color: white;
}
#sagot {
    width: 98%; 
    padding: 1%; 
    margin: auto;
}
#head {
    text-align: center; 
    background-color: rgb(68, 68, 68);
}
button {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}
.card {
    width: 20%; 
    margin-left: 40%; 
    height: 30%; 
    margin-top: 2%;
}